<header class="site-header">
  <a class="site-title" href="Christa Caggiano"><img src="/assets/images/logo_small.jpg"></a>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/research/">research</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/resume/">resume</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/presentations/">presentations</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/art/">art</a></li>

    </ul>
  </nav>

</header>
