<header class="site-header">
  <a class="site-title" href="Christa Cagi"><img src="/assets/images/logo_small.jpg"></a>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{https://christacaggiano.github.io}}/about/">about</a></li>
      <li class="nav-item"><a href="{{https://christacaggiano.github.io}}/research/">research</a></li>
      <li class="nav-item"><a href="{{https://christacaggiano.github.io}}/resume/">resume</a></li>
      <li class="nav-item"><a href="{{https://christacaggiano.github.io}}/presentations/">presentations</a></li>
      <li class="nav-item"><a href="{{https://christacaggiano.github.io/art/}}">art</a></li>

    </ul>
  </nav>

</header>
